.middleContainer {
  display: flex;
  justify-content: space-between;
}
.middleContainer .aside {
  height: calc(100vh - 134px);
}
.middleContainer .middleContent_box {
  flex: 1;
  box-sizing: border-box;
  padding: 10px 50px;
}
