.qst_box {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex: 8;
}
.qsttitle {
  position: relative;
  height: 100px;
  width: 500px;
  margin: 10px auto;
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.qstopts {
  margin: 0 auto;
  margin-bottom: 80px;
  transform: translate(-25%);
}
.qstopts Button {
  margin-top: 10px;
}
.qstansw {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 500px;
}
.qst_main_box {
  height: 100%;
  display: flex;
}
.qstypeTag {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
}
.to_last_question {
  margin-top: 200px;
}
.to_next_question {
  margin-top: 200px;
  float: right;
}
